# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# venv
.venv

temp_96389b67819f4ffd8960a39ca11875b3.ps
temp_b89a3703866c4f819e642bc760e789db.ps
temp_03ef4219aee34bac97db85b8250b5f6a.ps